*{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    user-select: none;
}

.products::-webkit-scrollbar{
    height: 15px;
}

.products::-webkit-scrollbar-thumb{
    background-color: #fff;
    border-radius: 10px;
    border: 3px solid transparent;
    background-clip: content-box;
}

.products::-webkit-scrollbar-track{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    border: 3px solid transparent;
}